/* No changes needed to the provided CSS */
*{
  padding: 0;
  margin:0;
}
.home {
  height: 100vh;
  background: #CECECE;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card {
  width: 94%;
  background-color: white;
  height: max-content;
  border-radius: 10px;
  border-top-right-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 45px;
  padding-top: 30px;
}

.left .Mededge {
  display: flex;
  flex-direction: column;
}

.left .Mededge h1 {
  font-size: 60px;
  font-weight: bold;
  color: #b00b84;
}

.left .Mededge h2 {
  font-size: 28px;
}

.left .Mededge p {
  padding-top: 15px;
  line-height: 26px;
  font-size: 20px;
}

.left .community {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left .community p {
  line-height: 26px;
  font-size: 20px;
}

.left .community h3 {
  font-size: 23px;
}

.right {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-top: 80px;
}

.rightimg {
 
  width: 400px;
  height: 400px;
  background: url("./assets/pic.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.left .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 200px;
  padding-bottom: 20px;
}
.left .button{
  background-color: #b00b84;
  padding: 2%;
  color: white;
  border: none;
  border-radius: 10px;
  height:30px;
  flex-grow: 1;
  font-size: 1.2rem;

}
.button:hover{
  cursor: pointer;;
}